<div class="panel panel-primary">
    <div class="panel-heading">Boom 测试 [稳定的并发]</div>
    <div class="panel-body">
        <form class="form-inline" method="GET" id="search-form">
          <div class="form-group">
            <label for="team" class="control-label">组</label>
            <select name="team" class="form-control">
                {{ range .teams }}
                <option value="{{ .Team }}" {{ if .Selected }}selected{{ end }}>{{ .Team }}</option>
                {{ end }}
            </select>
          </div>
          <div class="form-group">
            <label for="project" class="control-label">项目名称</label>
            <input type="text" name="project" value="{{ .project }}" class="form-control" placeholder="项目名称">
          </div>
          <div class="form-group">
            <label for="url" class="control-label">URL 前缀</label>
            <input type="text" name="url" value="{{ .url }}" class="form-control" placeholder="URL Prefix">
          </div>
          <button type="submit" class="btn btn-primary">查询</button>
          <a href="" class="btn btn-primary">刷新页面</a>
          <button type="button" data-toggle="modal" data-target="#newJob" class="btn btn-success pull-right">新建任务</button>
        </form>
        <br/>
        <table class="table table-striped">
            <tr>
                <th>任务ID</th>
                <th>任务名</th>
                <th>组</th>
                <th>项目</th>
                <th>URL</th>
                <th>状态</th>
                <th>当前并发数</th>
                <th>操作日期</th>
                <th>业务操作</th>
            </tr>
            {{ range .jobs }}
            <tr id="job-{{ .Id.Hex }}" data-id="{{ .Id.Hex }}" data-running="{{ .IsRunning }}">
                <td>
                    <a class="btn btn-link btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ .Id.Hex }}"/>
                        <span class="glyphicon glyphicon-asterisk"></span>
                    </a>
                </td>
                <td>{{ .Name }}</td>
                <td><span class="label label-primary">{{ .Team }}</span></td>
                <td><span class="label label-info">{{ .Project }}</span></td>
                <td>{{ .Url }}</td>
                {{ if .IsRunning }}
                <td id="state-{{ .Id.Hex }}"><span class="label label-success">运行</td>
                {{ else }}
                <td id="state-{{ .Id.Hex }}"><span class="label label-default">退出</td>
                {{ end }}
                <td id="concurrency-{{ .Id.Hex }}">
                <span class="badge">{{ .CurrentConcurrency }}</span>
                </td>
                <td>{{ .LastRunTs|strftime}}</td>
                <td>
                    <a class="btn btn-link" href="/boom/edit?job_id={{ .Id.Hex }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-link" href="/boom/run?job_id={{ .Id.Hex }}"><span class="glyphicon glyphicon-play"></span></a>
                    <a href="javascript:void(0)"
                        class="btn btn-link btn-sm"
                        data-toggle="popover"
                        data-html="true"
                        data-placement="left"
                        data-content="<a class='btn btn-danger' href='/boom/stop?job_id={{ .Id.Hex }}'>Stop Now</a>"><span class="glyphicon glyphicon-pause"></span></a>
                    <a class="btn btn-link" href="/boom/logs?job_id={{ .Id.Hex }}"><span class="glyphicon glyphicon-stats"></span></a>
                    <a href="javascript:void(0)"
                        class="btn btn-link btn-sm"
                        data-toggle="popover"
                        data-html="true"
                        data-placement="left"
                        data-content="<a class='btn btn-danger' href='/boom/delete?job_id={{ .Id.Hex }}'>Delete Now</a>"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            {{ end }}
        </table>
        {{ template "pager" .pager }}
        <div class="modal fade" id="newJob">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</span></button>
                <h4 class="modal-title">新建任务</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" method="POST" action="/boom/create" id="create-form">
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">任务名称</label>
                    <div class="col-sm-10">
                      <input type="text" name="name" class="form-control" required placeholder="任务名称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="project" class="col-sm-2 control-label">项目名称</label>
                    <div class="col-sm-10">
                      <input type="text" name="project" class="form-control" required placeholder="项目名称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="team" class="col-sm-2 control-label">组</label>
                    <div class="col-sm-10">
                      <select class="form-control" name="team">
                        {{ range .teams }}
                        <option value="{{ .Team }}" {{ if .Selected }}selected{{ end }}>{{ .Team }}</option>
                        {{ end }}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                      <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                  </div>
                </form>      
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('a[data-toggle=popover]').popover();
        $('#create-form').submit(function() {
            var team_el = $('#create-form select[name=team]');
            if(team_el.val() == "") {
                team_el.parent().addClass("has-error");
                return false;    
            } else {
                team_el.parent().removeClass("has-error");
            }
        });
        setInterval(function() {
            $('tr[data-running=true]').each(function(_, el) {
                var jobId = $(el).data("id");
                $.get("/api/boom/state?job_id=" + jobId, function(data) {
                    if(data.is_running) {
                        $('#state-' + jobId).html('<span class="label label-success">运行</span>');
                    } else {
                        $('#state-' + jobId).html('<span class="label label-default">退出</span>');
                        $('#job-' + jobId).removeAttr("data-running");
                    }
                    $('#concurrency-' + jobId).html('<span class="badge">'+ data.current_concurrency +'</span>');
                });
            });
        }, 2000);
    });
</script>
